<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.domain.travel.repository.MentionRepository">
	<insert id="insertMention">
		INSERT
		INTO MENTION(
					user_id,
					travel_id,
					mention_created_date
					)
		VALUES		(
					#{userId},
					#{travelId},
					#{createdDate}
					)
	</insert>
	
	<select id="findMentionByUserId" resultType="com.ssafy.enjoytrip.domain.travel.dto.response.MentionResponseDto">
		SELECT
			m.mention_id 			as mentionId,
			m.user_id 				as userId,
			m.travel_id				as travelId,
			t.travel_title			as title,
			m.mention_created_date	as createdDate,
			u.user_nickname			as nickname
		FROM
			MENTION m,
			Travel t,
			USER u
		WHERE
			m.user_id = #{userId} AND
			m.travel_id = t.travel_id AND
			u.user_id = t.user_id 
	</select>
	
</mapper>