<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.domain.travel.repository.PinRepository">
	<insert id="insertPin" useGeneratedKeys="true" keyProperty="pinId">
		INSERT
		INTO PIN(
				travel_id,
				pin_place_name,
				pin_place_url,
				pin_category_name,
				pin_address_name,
				pin_road_address_name,
				pin_category_group_code,
				pin_category_group_name,
				pin_x,
				pin_y,
				pin_content
				)
		VALUES (
				#{travelId},
				#{placeName},
				#{placeUrl},
				#{categoryName},
				#{addressName},
				#{roadAddressName},
				#{categoryGroupCode},
				#{categoryGroupName},
				#{x},
				#{y},
				#{content}
				)
	</insert>
	
	<resultMap type="com.ssafy.enjoytrip.domain.travel.dto.response.TravelPinResponseDto" id="travelPin" autoMapping="true">
		<id property="pinId" column="pin_id"/>
		<result property="travelId" column="travel_id"/>
		<result property="placeName" column="pin_place_name"/>
		<result property="placeUrl" column="pin_place_url"/>
		<result property="categoryName" column="pin_category_name"/>
		<result property="addressName" column="pin_address_name"/>
		<result property="roadAddressName" column="pin_road_address_name"/>
		<result property="phone" column="pin_phone"/>
		<result property="categoryGroupCode" column="pin_category_group_code"/>
		<result property="categoryGroupName" column="pin_category_group_name"/>
		<result property="content" column="pin_content"/>
		<result property="x" column="pin_x"/>
		<result property="y" column="pin_y"/>
		<collection property="imageList" column="pin_id" select="com.ssafy.enjoytrip.domain.travel.repository.ImageRepository.findIamgeByPinId" />
		<collection property="tagList" column="pin_id" select="com.ssafy.enjoytrip.domain.travel.repository.TagRepository.findTagByPinId" />
	</resultMap>
	
	<select id="findPinByTravelId" resultMap="travelPin">
		SELECT
			p.travel_id as travel_id,
			p.pin_id as pin_id,
		    p.pin_place_name as pin_place_name,
		    p.pin_place_url as pin_place_url,
		    p.pin_category_name as pin_category_name,
		    p.pin_address_name as pin_address_name,
		    p.pin_road_address_name as in_road_address_name,
		    p.pin_phone as pin_phone,
		    p.pin_category_group_code as pin_category_group_code,
		    p.pin_category_group_name as pin_category_group_name,
		    p.pin_content as pin_content,
		    p.pin_x as pin_x,
		    p.pin_y as pin_y,
		    i.image_id as image_id,
		    i.image_encoded_base64 as image_encoded_base64
		FROM
			PIN p,
			IMAGE i
		WHERE
			p.pin_id = i.pin_id AND
			p.travel_id = #{travelId}
	</select>
	
	<select id="searchTravelByTag" resultMap="travelPin">
		SELECT
			p.travel_id as travel_id,
			p.pin_id as pin_id,
		    p.pin_place_name as pin_place_name,
		    p.pin_place_url as pin_place_url,
		    p.pin_category_name as pin_category_name,
		    p.pin_address_name as pin_address_name,
		    p.pin_road_address_name as in_road_address_name,
		    p.pin_phone as pin_phone,
		    p.pin_category_group_code as pin_category_group_code,
		    p.pin_category_group_name as pin_category_group_name,
		    p.pin_content as pin_content,
		    p.pin_x as pin_x,
		    p.pin_y as pin_y,
		    i.image_id as image_id,
		    i.image_encoded_base64 as image_encoded_base64,
		    t.tag_id as tag_id,
		    t.tag_name as name
		FROM
			PIN p,
			IMAGE i,
			Tag t
		WHERE
			p.pin_id = i.pin_id AND
			p.pin_id = t.pin_id AND
			t.tag_name IN
			<foreach item="name" collection="tagList" open="(" separator="," close=")">
				#{name}
			</foreach>
	</select>
</mapper>