<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.domain.travel.repository.TagRepository">
	<insert id="insertTag">
		INSERT
		INTO TAG(
				pin_id,
				tag_name
				)
		VALUES  (
				#{pinId},
				#{name}
				)
	</insert>
	
	<select id="findTagByPinId" resultType="String">
		SELECT
			tag_name
		FROM
			TAG
		WHERE
			pin_id = #{pinId}
	</select>
	
</mapper>