<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.domain.travel.repository.TravelRepository">

	<resultMap id="travelDetail" autoMapping="true" type="com.ssafy.enjoytrip.domain.travel.dto.response.TravelResponseDto">
		<id property="travelId" column="travel_id"/>
		<result property="userId" column="user_id"/>
		<result property="writer" column="user_nickname"/>
		<result property="title" column="travel_title"/>
		<result property="zzimCnt" column="zzim_cnt"/>
		<result property="content" column="travel_content"/>
		<result property="cost" column="travel_cost"/>
		<result property="state" column="travel_state"/>
		<result property="city" column="travel_city"/>
		<result property="startDate" column="travel_start_date"/>
		<result property="endDate" column="travel_end_date"/>
		<collection property="pinList" column="travel_id" autoMapping="true"  select="com.ssafy.enjoytrip.domain.travel.repository.PinRepository.findPinByTravelId" />
		<collection property="commentList" column="travel_id" autoMapping="true" select="com.ssafy.enjoytrip.domain.comment.repository.CommentRepository.findCommentByTravelId"/>
	</resultMap>
	
	<insert id="writeTravel" useGeneratedKeys="true" keyProperty="travelId" >
		INSERT
		INTO TRAVEL(
				user_id,
				travel_content,
				travel_start_date,
				travel_end_date,
				travel_cost,
				travel_created_date,
				travel_title,
				travel_state,
				travel_city,
				travel_is_deleted
				)
		VALUES (
				#{userId},
				#{content},
				#{startDate},
				#{endDate},
				#{cost},
				#{createdDate},
				#{title},
				#{state},
				#{city},
				0
				)
	</insert>
	
	<select id="getTravelByTravelId"  resultMap="travelDetail">
		SELECT
			travel_id,
		    user_id,
		    (select user_nickname from user where user_id = travel.user_id) as user_nickname,
		    (select COUNT(*) from zzim where travel_id = #{travelId} and zzim_is_zzim = 1) as zzim_cnt,
		    travel_title,
		    travel_content,
		    travel_cost,
		    travel_state,
		    travel_city,
		    travel_start_date,
		    travel_end_date
		FROM 
			TRAVEL  
		WHERE
		    travel_id = #{travelId} AND
		    travel_is_deleted = 0
	</select>
	
	<select id="getTravelListByUserId" resultMap="travelDetail">
		SELECT
			travel_id,
		    user_id,
		    (select user_nickname from user where user_id = #{userId}) as user_nickname,
		    (select COUNT(*) from zzim where travel_id = travel.travel_id and zzim_is_zzim = 1) as zzim_cnt,
		    travel_title,
		    travel_content,
		    travel_cost,
		    travel_state,
		    travel_city,
		    travel_start_date,
		    travel_end_date
		FROM 
			TRAVEL 
		WHERE
		    user_id = #{userId} AND
		    travel_is_deleted = 0
	</select>
	
	<select id="getZzimTravelListByUserId" resultMap="travelDetail">
		SELECT
			t.travel_id as travel_id,
		    t.user_id as user_id,
		    (select user_nickname from user where user_id = #{userId}) as user_nickname,
		    (select COUNT(*) from zzim where travel_id = t.travel_id and zzim_is_zzim = 1) as zzim_cnt,
		    t.travel_title as travel_title,
		    t.travel_content as travel_content,
		    t.travel_cost as travel_cost,
		    t.travel_state as travel_state,
		    t.travel_city as travel_city,
		    t.travel_start_date as travel_start_date,
		    t.travel_end_date as travel_end_date
		FROM 
			TRAVEL t,
			ZZIM z
		WHERE
			z.user_id = #{userId} AND
			z.travel_id = t.travel_id AND
		    travel_is_deleted = 0
	</select>
	
	<select id="getTravelListForHomeView" resultMap="travelDetail">
		SELECT
			travel_id,
		    user_id,
		    (select user_nickname from user where user_id = travel.user_id) as user_nickname,
		    (select COUNT(*) from zzim where travel_id = travel.travel_id and zzim_is_zzim = 1) as zzim_cnt,
		    travel_title,
		    travel_content,
		    travel_cost,
		    travel_state,
		    travel_city,
		    travel_start_date,
		    travel_end_date
		FROM 
			TRAVEL
		WHERE
		    travel_is_deleted = 0
		ORDER BY
			travel_created_date DESC
		LIMIT
			#{ 4 * pageNum} , 4
	</select>
	
	<select id="getTravelListForHomeViewOrderByZzim" resultMap="travelDetail">
		SELECT
			travel_id,
		    user_id,
		    (select user_nickname from user where user_id = travel.user_id) as user_nickname,
		    (select COUNT(*) from zzim where travel_id = travel.travel_id and zzim_is_zzim = 1) as zzim_cnt,
		    travel_title,
		    travel_content,
		    travel_cost,
		    travel_state,
		    travel_city,
		    travel_start_date,
		    travel_end_date
		FROM 
			TRAVEL
		WHERE
		    travel_is_deleted = 0
		ORDER BY
			(select COUNT(*) from zzim where travel_id = travel.travel_id and zzim_is_zzim = 1) DESC
		LIMIT
			#{ 4 * pageNum} , 4
	</select>
	<select id="getTravelListForHomeViewOrderByCommentCnt" resultMap="travelDetail">
		SELECT
			travel_id,
		    user_id,
		    (select user_nickname from user where user_id = travel.user_id) as user_nickname,
		    (select COUNT(*) from zzim where travel_id = travel.travel_id and zzim_is_zzim = 1) as zzim_cnt,
		    travel_title,
		    travel_content,
		    travel_cost,
		    travel_state,
		    travel_city,
		    travel_start_date,
		    travel_end_date
		FROM 
			TRAVEL
		WHERE
		    travel_is_deleted = 0
		ORDER BY
			(select count(*) from comment where travel_id = travel.travel_id) DESC
		LIMIT
			#{ 4 * pageNum} , 4
	</select>
	
	
	
	<select id="searchTravelByLocation" resultMap="travelDetail">
		SELECT
			travel_id,
		    user_id,
		    (select user_nickname from user where user_id = travel.user_id) as user_nickname,
		    (select COUNT(*) from zzim where travel_id = travel.travel_id and zzim_is_zzim = 1) as zzim_cnt,
		    travel_title,
		    travel_content,
		    travel_cost,
		    travel_state,
		    travel_city,
		    travel_start_date,
		    travel_end_date
		FROM 
			TRAVEL
		WHERE
			travel_state = #{state}  AND
		    travel_is_deleted = 0
			<if test='city != null and city != "" '>
				AND travel_city = #{city}  
			</if>
		ORDER BY
			travel_created_date
	</select>
	
	<update id="deleteTravel">
		UPDATE
			TRAVEL
		SET
			travel_is_deleted = 1
		WHERE
			travel_id = #{travelId}
	</update>
	
</mapper>