<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.domain.follow.repository.FollowRepository">
	<select id="findFollowerByUserId" resultType="com.ssafy.enjoytrip.domain.follow.dto.response.FollowerResponseDto">
		SELECT 
			user_id_from as followerUserId, 
			user_nickname as nickname
		FROM 
			follow 
		JOIN
			user
		WHERE 
			user_id_from = user_id AND
			user_id_to = #{userId}
	</select>
	
	<select id="findFollowingByUserId" resultType="com.ssafy.enjoytrip.domain.follow.dto.response.FollowingResponseDto">
		SELECT 
			user_id_to as followingUserId, 
			user_nickname as nickname
		FROM 
			follow 
		JOIN
			user
		WHERE 
			user_id_to = user_id AND
			user_id_from = #{userId}
	</select>
	
	<select id="isExistsFollow">
		SELECT 
			IF(COUNT(*) = 1, 1, 0)
		FROM 
			follow
		WHERE 
			user_id_to = #{userIdTo} AND
			user_id_from = #{userIdFrom}
	</select>
	
	<insert id="follow">
		INSERT
		INTO FOLLOW(
					user_id_from,
					user_id_to
				   )
		VALUES     (
					#{userIdFrom},
					#{userIdTo}
				   )
	</insert>
	
	<delete id="cancelFollow">
		DELETE
		FROM FOLLOW
		WHERE
			user_id_to = #{userIdTo} AND
			user_id_from = #{userIdFrom}
	</delete>	
	
</mapper>

